    <meta charset="UTF-8">
    <!-- favicon-template.html -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Title</title>
    <style>
        #site-footer footer {
            flex-shrink: 0;
            background:none;
            text-align: center;
        }
        #site-footer .banquan {
            color: #000;
        }
    </style>
<div id="site-footer">
    <footer>
        <p>
            <img src="/static/front/images/tubiao.png" alt="图标" style="width: 16px;">
            <a class="banquan"
               href="https://beian.mps.gov.cn/#/query/webSearch?code=41162302000064" rel="noreferrer"
               target="_blank">公安备案号
            </a>
            &nbsp;
            <a class="banquan"
               href="https://beian.miit.gov.cn/"
               target="_blank">ICP备案号
            </a>
        </p>
    </footer>
</div>
