<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- favicon-template.html -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href='{{urlfor "MainController.Get"}}'>回到日记首页</a></li>
            <li><a href='{{urlfor "IndexController.Get"}}'>个人首页</a></li>
            <li><a href="#">python</a></li>
            <li><a href="#">golang</a></li>
            <li><a href="#">java</a></li>
            <li><a href="#">c++</a></li>
            <li><a href="#">关于我</a></li>
        </ul>

    </nav>

</header>

</body>
</html>